/* 公共样式 variety */
$mainColor: #095DDA;
$baseColor: #333333;
$white: #ffffff;
$bgColor: #f3f3f3;
$fontColor: #666;
$grayColor: #999;
$borderColor: #cdcdcd;
$grayWhite: #cccccc;

// -------------
$blueColor: #1e89e2;
$redColor: #f50049;
$orangeColor: #f5a623;
$moneyColor: #F5A623;

